<!-- Modal Structure -->
<div id="modal-remove" class="modal">
    <div class="modal-content">
        <h5>Remove device</h5>
        <br>
        Are you sure to permanently remove this device.
        <form action="{% url 'main:remove_device' id %}" method="post" id="form-remove">
            {% csrf_token %}
            <input id="input-{{ id }}" type="hidden" name="remove-device" value="true">
        </form>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat"
           onclick="$('#form-remove').submit();">Remove</a>
    </div>
</div>

<div id="modal-edit" class="modal">
    <div class="modal-content">
        <h5>Edit device</h5>
        <br>
        <form action="{% url 'Apis:edit_device_detail_post' id %}" method="post" id="device-setting-form">
            {% csrf_token %}
            {{ edit_device_form }}
            {{ edit_ability_formset }}
        </form>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat " onclick="$('#device-setting-form').submit();">Edit</a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
    </div>
</div>

<div id="modal-status-detail" class="modal">
    <div class="modal-content">
        <h5>Status detail</h5>
        <br>
        <div class="row">
            <div class="col s12 m4 l5">
                <table>
                    <tbody>
                    <tr>
                        <td>RSSI</td>
                        <td style="text-align:right"><strong><span id="modal-rssi">-</span></strong></td>
                    </tr>
                    <tr>
                        <td>Last echo</td>
                        <td style="text-align:right"><strong><span id="modal-last-echo">-</span></strong></td>
                    </tr>
                    <tr>
                        <td>IP</td>
                        <td style="text-align:right"><strong><span id="modal-ip">-</span></strong></td>
                    </tr>
                    <tr>
                        <td>AP SSID</td>
                        <td style="text-align:right"><strong><span id="modal-ssid">-</span></strong></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col s12 m4 l5 offset-m2 offset-l2">
                <table>
                    <tbody>
                    <tr>
                        <td>ID</td>
                        <td style="text-align:right"><strong><span id="modal-id">-</span></strong></td>
                    </tr>
                    <tr>
                        <td>MAC</td>
                        <td style="text-align:right"><strong><span id="modal-mac">-</span></strong></td>
                    </tr>
                    <tr>
                        <td>Heap</td>
                        <td style="text-align:right"><strong><span id="modal-heap">-</span></strong></td>
                    </tr>
                    <tr>
                        <td>Voltage</td>
                        <td style="text-align:right"><strong><span id="modal-voltage">-</span></strong></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>