{% extends "main/base.html" %}

{% block title %}Device detail{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m6 l6">
            <h3>{{ device.name }}</h3>
        </div>
        <div class="col s12 m6 l6">

            {# setting buttons #}
            <div class="right-align" style="padding-top: 2em">
                <a class="waves-effect waves-light btn red darken-1" href="#modal-remove">Remove</a>
                <a class="waves-effect waves-light btn blue-grey darken-1" href="#modal-edit">Edit</a>
            </div>

        </div>
    </div>

    {# modal windows for setting buttons #}
    {% include "main/device_detail_modals.html" with id=device.id edit_device_form=edit_device_form edit_ability_formset=edit_ability_formset %}

    {# status and value cards #}
    <div class="row">
        <div class="col s12 m8 l8">
            {% if actual_values %}
                {% include 'main/device_detail_values_card.html' with actual_values=actual_values %}
            {% endif %}
            {% if actual_out_values %}
                {% include 'main/device_detail_control_card.html' with actual_out_values=actual_out_values device_id=device.id %}
            {% endif %}
        </div>
        <div class="col s12 m4 l4">
            {% include 'main/device_detail_status_card.html' %}
        </div>
    </div>

    {# tabs with charts #}
    <div class="row">
        {% include 'main/device_detail_tabs.html' with actual_values=actual_values %}

        {# div first-tab-value indicate which tab will be loadef first (before clicking on tab), parameter data-value is used as input for script deviceDetailChart #}
        <div id="first-tab-value" data-value="canvas-tab-{{ actual_values.0.name }}" hidden></div>
        {% for value in actual_values %}
            <div id="tab-{{ value.name }}" class="col s12 grey lighten-4">

                {#                <div class="row">#}
                {#                    <div class="row s6">#}
                <div class="input-field">
                    <input id="date-range-input" type="text" data-bind="daterangepicker: datepickerbtn"/>
                    <label for="date-range-input">Select date range</label>
                </div>
                <div class="input-field">
                    <select id="summarize-select">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Now</option>
                        <option value="2">Minutes</option>
                        <option value="3">Hours</option>
                    </select>
                    <label for="summarize-select">Materialize Select</label>
                </div>
                {#                    </div>#}
                {#                </div>#}

                <div style="width: 100%;">
                    {#                    <canvas id="canvas-tab-{{ value.name }}" data-url="{% url 'main:records_api' device.id value.name %}"#}
                    {#                            height="150"></canvas>#}
                    <div id="canvas-tab-{{ value.name }}" style="width: 100%;height:600px;" data-url="{% url 'Apis:get_values' device.id value.name %}"></div>
                </div>
            </div>
        {% endfor %}

    </div>

    {% load static %} {# load javascript #}
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/daterangepicker.min.css' %}">
    {#    import ChartJS plot library#}
    <script type="text/javascript" src="{% static 'main/js_libs/Chart.bundle.js' %}"></script>
    {#    import eChart plot library#}
    <script type="text/javascript" src="{% static 'main/js_libs/echarts.common.min.js' %}"></script>
    {# daterange picker dependency #}
    <script type="text/javascript" src="{% static 'main/js_libs/knockout-3.4.2.js' %}"></script>
    {# date range picker #}
    <script type="text/javascript" src="{% static 'main/js_libs/daterangepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js_libs/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/updateDeviceStatus.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/updateDeviceValues.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/outputActionsAjax.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/deviceDetailChart.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();

            $("#date-range-input").daterangepicker({
                minDate: moment().subtract(2, 'years'),
                callback: function (startDate, endDate, period) {
                    $(this).val(startDate.format('L') + ' – ' + endDate.format('L'));
                }
            });

            updateDeviceStatus("{% url 'main:telemetry_api' device.id %}", {{ device_status_interval }});
            updateDeviceValues("{% url 'main:device_actual_values_api' device.id %}", {{ device_values_interval }});

            // init tab with charts
            deviceDetailChart($('#first-tab-value')[0].attributes['data-value'].nodeValue); // element first-tab-value is hidden and contain name of first tab
            $('.modal').modal(); // init modal windows
            $('ul.tabs').tabs({
                'swipeable': false,
                'onShow': function (param) {
                    deviceDetailChart('canvas-' + param[0].id);
                }
            }); // init tabs
        });
    </script>
{% endblock %}