<div class="card blue-grey darken-1">
    <div class="card-content white-text">
        <span class="card-title">Device status</span>
        <p>
        <table>
            <tbody>
            <tr>
                <td>RSSI</td>
                <td style="text-align:right"><span id="rssi">-</span></td>
            </tr>
            <tr>
                <td>Last echo</td>
                <td style="text-align:right"><span id="last-echo">-</span></td>
            </tr>
            <tr>
                <td>IP</td>
                <td style="text-align:right"><span id="ip">-</span></td>
            </tr>
            <tr>
                <td>AP SSID</td>
                <td style="text-align:right"><span id="ssid">-</span></td>
            </tr>
            </tbody>
        </table>
        </p>
    </div>
    <div class="card-action">
        <a href="#modal-status-detail">More</a>
    </div>
</div>
