<ul class="collapsible" data-collapsible="accordion">
    {% for device in devices %}
        <li>
            <div class="collapsible-header">{{ device.name }}</div>
            <div class="collapsible-body">
                <table>
                    {% for ability in device.abilities %}
                        <tr>
                            <td>{{ ability.user_name }}</td>
                            <td style="text-align:right">
                                <a class="waves-effect waves-light btn-flat"
                                   onclick="displaySelectAbility('{% url 'main:display_preview_api' device.id ability.name %}', '{{ device.name }}', '{{ ability.user_name }}', '{{ ability.name }}', '{{ device.id }}', '{{ screen_num }}');">
                                    <i class="material-icons md-24">send</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </li>
    {% endfor %}
</ul>