{% extends 'main/base.html' %}

{% block title %}
    {{ display.name }}
{% endblock %}

{% block content %}
    <h3>{{ display.name | capfirst }}</h3>

    {# display setting #}
    <div class="row">
        <form id="display-setting-form" method="post" action="{% url 'Apis:edit_display' display.ability_id %}">
            {% csrf_token %}
            <div class="input-field col s12 m4 l3" style="padding-bottom: 1em;">
                <div class="switch">
                    <label>
                        Off
                        {{ display_setting_form.active }}
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
            <div class="input-field col s8 m3 l2">
                {{ display_setting_form.model }}
                <label for="{{ display_setting_form.model.id_for_label }}">{{ display_setting_form.model.label }}</label>
            </div>
            <div class="input-field col s4 m3 l2">
                <button class="btn-flat waves-effect waves-green disabled" id="display-setting-form-submit" onclick="$('#display-setting-form').submit();">
                    <i class="material-icons center">save</i>
                </button>
            </div>
        </form>
    </div>

    <div class="row">
        {# screen setting #}
        <div class="col s12 m7 l8">
            <div class="row">
                <div class="col l12">
                    <h5><span class="tooltipped" data-tooltip="{{ active_screen.description }}">{{ active_screen.name | capfirst }}</span></h5>
                </div>
            </div>


            {% include 'main/forms/screen_settings_form.html' with form=screen_setting ability_id=display.ability_id %}

            <div class="row">
                <div class="col s12 m4 l5 wide-btn">
                    <a class="btn waves-effect waves-light orange darken-1" href="{% url 'main:screen_edit' active_screen.id %}" target="_blank">
                        <i class="material-icons right">launch</i>
                        Edit content
                    </a>
                </div>
                <div class="col s12 m4 l3 wide-btn">
                    <a id="btn-screen-preview" class="btn waves-effect waves-light blue-grey darken-1"
                       onclick="loadScreenPreview('{% url "Apis:get_screenshot" active_screen.id %}')">
                        Preview
                    </a>
                </div>
                <div class="col s12 m4 l3 wide-btn">
                    <a class="btn waves-effect waves-light green darken-1 disabled" id="btn-save-screen-settings" onclick="$('#screen-settings-form').submit();">Save</a>
                </div>
            </div>


            <div class="row">
                <div id="loader" class="col s12 m12 l12" style="margin: 4em;" hidden>
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="canvas-container" class="col s12 m12 l12" style="margin-top: 1em; margin-bottom: 1em;" hidden>
                    <canvas width="500px" height="500px" id="screen-preview" style="border: 2px solid #E0E0E0; border-radius: 3px"></canvas>
                </div>
            </div>


        </div>

        {# screen selector #}
        <div class="col s12 m5 l4">
            <h5>Screens</h5>
            <div class="collection">
                {% for screen in display.screens %}
                    <a href="{% url 'main:display_ng' display.ability_id screen.id %}"
                       class="collection-item {% if screen.id == active_screen.id %}active{% endif %}">
                        {{ screen.name | capfirst }}
                        <span href="#!" class="secondary-content" onclick="screenAction(event, {{ screen.id }}, 'delete')"><i class="material-icons">delete</i></span>
                        <span href="#!" class="secondary-content" onclick="screenAction(event, {{ screen.id }}, 'down')"><i class="material-icons">keyboard_arrow_down</i></span>
                        <span href="#!" class="secondary-content" onclick="screenAction(event, {{ screen.id }}, 'up')"><i class="material-icons">keyboard_arrow_up</i></span>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div hidden>
            <form method="post" id="screen-action-form" action="{% url 'Apis:edit_screens' %}">
                {% csrf_token %}
                {{ screen_action_form }}
            </form>
        </div>

    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light red" onclick="$('#modal-add-screen').modal('open');">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <div id="modal-add-screen" class="modal">
        <div class="modal-content">
            <h5>Add screen</h5>
            <br>
            <form action="{% url 'Apis:add_screen' display.ability_id %}" method="post" id="add-screen-form">
                {% csrf_token %}
                {{ add_screen_form }}
            </form>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat"
               onclick="$('#add-screen-form').submit();">Add</a>
        </div>
    </div>


    {% load static %}
    <script type="text/javascript" src="{% static 'main/js/loadScreenPreview.js' %}"></script>

    <script>
        $(document).ready(function () {
            Materialize.updateTextFields();
            $('.modal').modal(); // init modal windows
            $('select').material_select();
            $('.tooltipped').tooltip({delay: 50, position: 'bottom'}); // init tooltips
        });

        {# Enable save button when form modified. #}
        $('#display-setting-form').change(function () {
            $('#display-setting-form-submit').removeClass('disabled');
        });

        function screenAction(event, screenId, action) {
            event.preventDefault();
            var input_screen_id = $('#{{ screen_action_form.screen_id.id_for_label }}');
            var input_action = $('#{{ screen_action_form.action.id_for_label }}');
            input_screen_id.val(screenId);
            input_action.val(action);

            if (action === 'delete') {
                if (!confirm("Do you want do delete screen?")) {
                    return;
                }
            }

            $('#screen-action-form').submit();
        }
    </script>

{% endblock %}