<nav class="blue-grey darken-1" role="navigation">
    <div class="nav-wrapper container">
        {#        <a id="logo-container" href="{% url 'main:index' %}" class="brand-logo center">Logo</a>#}
        <ul class="left hide-on-med-and-down">
            <li><a href="{% url 'main:index' %}"><i class="material-icons">device_hub</i> </a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'main:index' %}">Devices</a></li>
            <li><a href="{% url 'main:waiting_devices' %}">Waiting devices</a></li>
            <li><a href="{% url 'main:settings' %}">Settings</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li>
                <div class="userView">
                    <div class="background">
                        {% load static %}
                        <img src="{% static 'main/images/paper.jpg' %}">
                    </div>
                    <a href="#!user" style="padding-bottom: 6em;"><img class="circle" src="{% static 'main/images/ESP-12.jpg' %}"></a>
                </div>
            </li>
            <li><a href="{% url 'main:index' %}"><i class="material-icons">devices_other</i> Devices</a></li>
            <li><a href="{% url 'main:waiting_devices' %}"><i class="material-icons">find_replace</i>Waiting devices</a></li>
            <li><a href="{% url 'main:settings' %}"><i class="material-icons">settings</i>Settings</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<script type="text/javascript">
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    })
</script>