<li class="collection-item avatar">
    {% load static %}
    <img src="{% static 'main/images/ESP-12.jpg' %}" alt="" class="circle">
    <span class="title">Name: {{ name }}</span>
    <p>ID: {{ id }} <br>
        Abilities: {{ provided_func }}
    </p>
    <div class="secondary-content">
        <a class="waves-effect waves-circle waves-light btn-floating secondary-content" href="#modal-{{ id }}">
            <i class="material-icons">add</i>
        </a>
    </div>
    {#    <a href="#!" class="secondary-content"><i class="material-icons">done</i></a>#}
</li>