<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ESP Hub{% endblock %}</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->

    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/materialize.min.css' %}"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/custom.css' %}">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import jQuery before materialize.js-->
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
    <script type="text/javascript" src="{% static 'main/js_libs/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/checkWaitingDevices.js' %}"></script>
</head>
<body>

{% block navbar %}
    {% include "main/navbar.html" %}
{% endblock %}

<main>
    <div class="container bsa">
        {% block content %}
        {% endblock %}
    </div>
</main>

</body>
</html>