<div class="card">
    <div class="card-image">

        {# circular loader #}
        <div id="circle-loader-{{ screen_num }}" hidden>
            <div class='preloader-wrapper active'>
                <div class='spinner-layer spinner-blue-only'>
                    <div class='circle-clipper left'>
                        <div class='circle'></div>
                    </div>
                    <div class='gap-patch'>
                        <div class='circle'></div>
                    </div>
                    <div class='circle-clipper right'>
                        <div class='circle'></div>
                    </div>
                </div>
            </div>
        </div>

        {# plot preview #}
        <div id="plot-preview-{{ screen_num }}">
            {% if screen.params.base64_plot %}
                <embed src='{{ screen.params.base64_plot }}'>
            {% endif %}
        </div>

        <div class="card-content">
            <div class="row">
                <div class="col s6 m3 l3"><strong>Device:</strong></div>
                <div class="col s6 m3 l3"><span
                        id="device-name-label-{{ screen_num }}">{{ screen.params.source_device_name|default:"-" }}</span>
                </div>
                <div class="col s6 m3 l3"><strong>Ability:</strong></div>
                <div class="col s6 m3 l3"><span
                        id="ability-name-label-{{ screen_num }}">{{ screen.params.source_ability_name|default:"-" }}</span>
                </div>
            </div>
        </div>

    </div>
</div>