<div class="row">
    <div class="input-field col s6 m4 l4">
        <select id="output-type">
            {% for item in options %}
                <option value="{{ item }}">{{ item|capfirst }}</option>
            {% endfor %}
        </select>
        <label for="output-type">Output type</label>
    </div>
    <div class="input-field col s6 m4 l4">
        <input disabled id="device-name-input" type="text" class="validate" placeholder="Device name">
        <label for="device-name-input">Device</label>
    </div>
    <div class="input-field col s6 m4 l4">
        <input disabled id="ability-name-input" type="text" class="validate" placeholder="Ability name">
        <label for="ability-name-input">Ability</label>
    </div>
</div>