{% extends 'main/base.html' %}

{% block title %}
    Display
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s12 m6 l6">
            <h3>Display setting</h3>
        </div>
        <div class="col s12 m6 l6">

            {# setting buttons #}
            <div class="right-align" style="padding-top: 2em">
                <a class="waves-effect waves-light btn red darken-1" href="#modal-remove">Remove screen</a>
                <a class="waves-effect waves-light btn blue-grey darken-1" href="#modal-edit">Add screen</a>
            </div>

        </div>
    </div>

    <div class="row">
        {# screen tabs header pannel #}
        <div class="col s12" style="margin-bottom: 1em;">
            <ul class="tabs custom-tabs z-depth-1 blue-grey darken-1">
                {% for screen in screens %}
                    <li class="tab col s3"><a href="#tab-screen-{{ forloop.counter }}">Screen {{ forloop.counter }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% for screen in screens %}
            {# screen tabs #}
            <div id="tab-screen-{{ forloop.counter }}" class="col s12">

                <div class="row">
                    <div class="col s12 m6 l4">
                        {# render devices abilities menu #}
                        {% include 'main/display_device_menu.html' with devices=devices screen_num=forloop.counter %}
                    </div>
                    <div class="col s12 m6 l8">
                        {# render display preview card with plot and screen settings #}
                        {% include 'main/display_preview_card.html' with screen=screen screen_num=forloop.counter %}

                        <form id="setting-form-screen-{{ forloop.counter }}">
                            {% csrf_token %}
                            <input type="hidden" name="destination-device" value="{{ device_id }}">
                            <input type="hidden" name="destination-display-name" value="{{ ability_name }}">
                            <input type="hidden" name="destination-screen-id" value="{{ screen.id }}">
                            <input type="hidden" id="data-source-device-{{ forloop.counter }}"
                                   name="data-source-device">
                            <input type="hidden" id="data-source-ability-{{ forloop.counter }}"
                                   name="data-source-ability">
                        </form>
                        <div class="right-align" style="width: 100%;">
                            <a class="waves-effect waves-light btn green darken-1 disabled" id="btn-save-{{ forloop.counter }}"
                               onclick="saveDisplayScreenAjax('{% url 'main:save_screen' device_id %}', {{ forloop.counter }})">SAVE</a>
                        </div>
                    </div>
                </div>

            </div>

        {% endfor %}

        {% load static %}
        <script type="text/javascript" src="{% static 'main/js/displaySelectAbility.js' %}"></script>
        <script type="text/javascript" src="{% static 'main/js/saveDisplayScreenAjax.js' %}"></script>
        <script type="text/javascript" src="{% static 'main/js/jquery.cookie.js' %}"></script>


        <script type="text/javascript">
            $(document).ready(function () {
                $('select').material_select();
                $('.collapsible').collapsible();
                Materialize.updateTextFields();
            });
        </script>

{% endblock %}