{% extends "main/base.html" %}

{% block title %}ESP Hub devices{% endblock %}

{% block content %}
    <h3>{{ msg }}</h3>
    <div class="collection">
        {% for device in devices %}
            {% include "main/index_line.html" with name=device.name id=device.id provided_func=device.provided_func|join:', ' %}
        {% endfor %}
    </div>

    {% load static %}
    <script type="text/javascript" src="{% static 'main/js/checkDeviceState.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(checkDeviceState("{{ devices_json|escapejs }}", "/api/telemetry/", {{ time_to_live }}));
    </script>
{% endblock %}
