.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.switch-orange label input[type=checkbox]:checked + .lever {
    background-color: #ffab40;
}

.switch-orange label input[type=checkbox]:checked + .lever:after {
    background-color: #ff9100;
}

/* Custom tabs color*/
.custom-tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #ffab40;
    will-change: left, right;
}

.custom-tabs .tab a:hover,
.custom-tabs .tab a.active {
    background-color: transparent;
    color: #ffab40;
}

.custom-tabs .tab a {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}

/* Sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Sticky footer */
main {
    flex: 1 0 auto;
}

.wide-btn{
    width: 100%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}